.failed
	{ background: #ffd5d5; }
#valid
	{ background: #f33; padding: 10px 15px; color: #fff; font-size: 1.3em; margin: -55px 0 10px; }
#valid ul
	{ padding-left: 20px; }
#valid li
	{ list-style-type: disc; }
#valid a
	{ color: #fff; font-size: .9em; margin-top: 3px; text-decoration: none; }
#valid a:hover
	{ text-decoration: underline; }